
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:300|Droid+Serif');

html,body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
	}
	
.navbar {
		padding: .8rem;
		background-color: white !important;
}


	
	.navbar-nav li {
		padding-right: 20px;
	}

.navbar-nav li:hover{
	color: black;
}

.nav-link {
	font-size: 1.1em !important;
}

.mntic-top{
	color: #151627;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
}

.centreMyMenu {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fbld {
	padding: 2pt;
	color: #2F2FA2;
	font-size: larger;
}

.slideimg{
  height: 100vh;	
  background:url('img/intro.jpg') no-repeat ; 
  background-size: 100% 100%;
  background-attachment: fixed;
}

.carousel-inner {
	border-bottom: solid white 2px;
}

.carousel-caption{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.jumbotron {
	/* padding: 1rem ;*/
	border-radius: 0;
	margin-bottom: 0;
	background: #f7fbffeb;
	opacity: 0.9;
}


.fa-tasks ,.fa-project-diagram, .fa-bezier-curve, .fa-address-card {
	/* color: #e5d426; */
	color:#F64C72;
	font-size: 4em;
	width: inherit;
    text-align: center;
	
}

.aboutUsDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	background: url("img/aboutUSimg.jpeg") no-repeat;
	background-attachment:fixed;
	background-size: cover;
	background-position: top;
	border-bottom: solid 2px white;
}

.aboutUsImg {
	grid-column: 1fr;
	grid-row: 1fr;
}

.aboutUsBlock{
	grid-column: 1fr;
	grid-row: 1fr;
	background: rgba(109, 109, 190, 0.89) !important;
	padding: 100px 50px 100px 50px;
	border-radius: 20px 0px 0px 20px;
}

.aboutUsBlock h2 {
	color: white;
	text-align: center;
	font-family: Poppins, sans-serif;
}

.aboutUsBlock p{
	color: white;
	text-align: justify;
	font-family: Poppins, sans-serif;
}

.jumbo-cnt {
	width: 53%;
	background: rgba(109, 109, 190, 0.89) !important;
	padding: 100px 50px 100px 50px;
	border-radius: 0px 20px 20px 0px;
	color: #ffffff;
   /* margin: 0 auto; */
}

.list-experience li {
	padding-bottom: 10px;
}

#services{
	/* width: 75%;
	margin: 0 auto; */
	/* color: white; */
	padding: 5rem;
	/* background: #3A3B8E !important; */
	background: white;
	color: rgb(18, 18, 29) ;
}

.content-section {
	background: url("img/contentFixedImg.jpg") ; 
  background-size:cover;
  background-position: top;
  background-attachment:fixed;
}

#services p{
	/* text-align: left; */
	    font-family: Poppins,sans-serif;
		font-size: 1.2rem;
}

#services .text-center {
	width: 90%;
    margin: 0 auto;
}

#services h3{
	text-align: center;
	font-size: 1.8rem;
	/* color: #ded6d6; */
	color:#32338A;
}

.found-us {
	padding: 5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	column-gap: 2rem;
	background-color: #32338A;
}

.cntct-form {
 /* grid-column: 2; */
 justify-column: center;
  color: #ffffff;
}	


.map-mntic {
	/* grid-column: 1;  */
	justify-column: center;
}

footer {	
background-color : #151627;
padding-top: .5rem;
}

.socialink {
	color: white;
    font-size: 1.3rem;
    padding-left: .5rem;
}

.endphrase {
	position: absolute;
    right: 10px;
	top: 10px;
	font-size: .7rem;
}